numpy
pandas
scikit-learn
transformers==4.28.1
torch
sentencepiece
pydantic==1.10.7
spacy==3.5.3
johnsnowlabs==4.3.5
plotly
asyncio
nest-asyncio
jsonlines
openai
langchain
evaluate
inflect
rouge_score