sphinx==6.1.3
pydata-sphinx-theme
autoapi
sphinx_substitution_extensions
numpy
pandas
scikit-learn
transformers
torch
sentencepiece
pydantic==2.9.2
spacy
johnsnowlabs==5.5.0
plotly
asyncio
nest-asyncio
jsonlines
openai
langchain